.app-container {
	max-width: 85%;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

h1 {
	margin-bottom: 1.5rem;
	color: oklch(65% 0.1 252);
}

.fetch-tasks-button {
	margin: 0.5rem;
	padding: 0.6rem 1rem;
	font-size: 1.25rem;
	cursor: pointer;
	border: none;
	border-radius: 0.4rem;
	background-color: oklch(65% 0.12 123);
	color: oklch(98% 0 0);
	transition: background-color 0.3s ease;
}

.fetch-tasks-button:hover {
	background-color: oklch(55% 0.12 123);
}
