.task-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid oklch(85% 0 0);
	background-color: oklch(98% 0 0);
	border-radius: 0.5rem;
	transition: box-shadow 0.3s ease;
}

.task-item:hover {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.task-delete-button {
	font-size: 1.25rem;
	flex-basis: 15%;
	width: 8rem;
	height: 5rem;
	background-color: oklch(50% 0.14 27);
	color: oklch(98% 0 0);
	border: none;
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 0.8rem;
	transition: background-color 0.4s ease;
}

.task-delete-button:hover {
	background-color: oklch(40% 0.14 27);
}

.task-info {
	flex-basis: 80%;
	padding: 0 1rem;
	font-size: 1.25rem;
	color: oklch(30% 0 0);
}

.task-completed-checkbox {
	flex-basis: 10%;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	accent-color: oklch(65% 0.12 123);
}
