.task-list-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}

.fetch-tasks-button {
	/* Ensures the button is not misaligned */
	margin: 0 0 1rem 0;
	width: 100%;
	text-align: center;
}
